body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8d016e !important;
  background-size: 400% 400%;
  height: 100vh;
  overflow-x: hidden;
}

.slideLeft{
  animation: 2s ease-out 0s 1 slideInLeft;
}

.slideLeftSmall{
  animation: 2s ease-out 0s 1 slideInLeftSmall;
}

.slideRight{
  animation: 2s ease-out 0s 1 slideInRight;
}

.slideRightSmall{
  animation: 2s ease-out 0s 1 slideInRightSmall;
}

.spin-once {
  animation: spin 1s linear;
}

.fuzzy-animation {
  animation: fuzzy 1s ease-out;
}

.spin-once-fuzzy {
  animation: spin 1s linear, fuzzy 1s ease-out;
}

@keyframes slideInLeftSmall {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInRightSmall {
  0% {
      transform: translateX(+100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
      transform: translateX(+100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fuzzy {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}