body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ffffff, #afafaf, #23a6d5, #000000);
  background-size: 400% 400%;
  height: 100vh;
  overflow-x: hidden;
}

.slideLeft{
  animation: 2s ease-out 0s 1 slideInLeft;
}

.slideRight{
  animation: 1s ease-out 0s 1 slideInRight;
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
      transform: translateX(+100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}