.video-brand{
    background-color: #505050;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
    position: relative;
    z-index: 1;
}

#videoplayer video{
    object-fit: fill !important;
}

#videoplayer iframe{
    height: 100%;
    width: 100%;
}

#videoplayer{
    height: 500px;
    padding: 0;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.vp-telecine{
    position: relative;
}

.vp-center{
    display: initial !important; /* Sets display property to its initial value */
    align-items: initial !important; /* Sets align-items property to its initial value */
    justify-content: initial !important; /* Sets justify-content property to its initial value */  
}