/* Add this CSS to your contact.css file or your preferred stylesheet */
.contact-section {
  height: 90vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  max-width: 400px;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  background-color: #7f25a2e6;
  box-shadow: 0px 0px 5px rgb(255 0 251);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.thank-you-message {
  opacity: 0;
  color: #fff;
  width: 50%;
  text-align: center;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}